.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: 'Dejavu-Condensed';
  box-sizing: border-box;
}
