@font-face {
  font-family: "Oranienbaum-Regular";
  font-weight: normal;
  src: url("./assets//fonts/oranienbaum.regular.otf") format("truetype");
}

@font-face {
  font-family: "Dejavu-Condensed";
  font-weight: normal;
  src: url("./assets//fonts/dejavu-serif.condensed.otf") format("truetype");
}

html {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, rgb(37, 54, 41) 11%, rgb(120, 95, 60) 100%);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
